@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 36, 36, 40;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

svg {
  height: 100%;
  width: auto;
}

.nav>svg {
  width: 3rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


table {
  font-size: min(16px, 2.8vw);
}